<%- include("partials/header"); -%>
<section id="vision">
</section>
       
<div class="avatar" >
    <h2 class="heading">OUR TEAM</h2>
    <p class="heading">Meet the team :</p>
        <div class="w3-row row justify-content-center my-5"><br>
            <div class="avatardetails">
                <img src="images\contact\avatarmen.png" alt="avatar" class="avatarimg">
                <h3>AAAA</h3>
                <p>Web Designer</p>
                <a href="mailto:AAAA@gmail.com.">Email:AAAA@gmail.com</a>
            </div>
      
            <div class="avatardetails">
                <img src="images\contact\avatarmen.png" alt="avatar"  class="avatarimg">
                <h3>BBBB</h3>
                <p>Support</p>
                <a href="mailto:BBBB@gmail.com.">Email:BBBB@gmail.com</a>

            </div>
      
            <div class="avatardetails">
                <img src="images\contact\avatarwomen.png" alt="avatar"  class="avatarimg">
                <h3>CCCC</h3>
                <p>Boss man</p>
                <a href="mailto:CCCC@gmail.com.">Email:CCCC@gmail.com</a>
            </div>
      
            <div class="avatardetails">
                <img src="images\contact\avatarwomen.png" alt="avatar"  class="avatarimg">
                <h3>DDDD</h3>
                <p>Fixer</p>
                <a href="mailto:DDDD@gmail.com.">Email:DDDD@gmail.com</a>
            </div>
        </div>
    </div>