    <%- include("../partials/company/company-header"); -%>

    <section id="vision" class="d-flex align-items-center">

        <div class="container">
          <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
              <p><b>VISION :</b> “To be a nationally recognized organization that attracts, rewards, retains outstanding faculty, students and staff."
                Training and Placement Section is the marketing division of the institute. This section, acting as an interface between the college and companies, has maintained symbiotic and purposeful relationship with industries across the country.
                As a result, it is willing to build up an impressive record both in terms of percentage of students placed as well as number of companies visiting the campus. The section hosts companies on campus and ensures that every aspirant is assured of a bright career of his/her choice."</b>
              </p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 vision-img" data-aos="zoom-in" data-aos-delay="200">
              <img src="images/placement.png" class="img-fluid animated" alt="">
            </div>
          </div>
        </div>
    
      </section>

    <div class="container">
        <div class="row justify-content-center my-5">
            <h1>Name</h1>
            <p><%= company.Name %></p>
            <br>
            <p><%= company.Description %></p>
        </div>
    </div>


    <%- include("../partials/company/company-footer"); -%>