    <%- include("../partials/company/company-header"); -%>


    <div class="container">
        <div class="row justify-content-center my-5">
            <h1>Name</h1>
            <p><%= company.Name %></p>
            <br>
            <p><%= company.Description %></p>
        </div>
    </div>


    <%- include("../partials/company/company-footer"); -%>